<!-- layouts/partials/episode-footer.html -->
<div class="episode-footer">
    <hr>
    
    <p><strong>Podcasting 2.0 Apps available at:</strong> <a href="http://podcastapps.com/">http://podcastapps.com/</a><br>
    <strong>Value4Value information:</strong> <a href="https://value4value.info/">https://value4value.info/</a></p>
    
    <h3>Contact</h3>
    <p>
        <strong>McIntosh's Email:</strong> <a href="mailto:mcintosh@satoshis-plebs.com">mcintosh@satoshis-plebs.com</a><br>
        <strong>McIntosh's Twitter:</strong> <a href="https://twitter.com/McIntoshFinTech">@McIntoshFinTech</a></br>
        <strong>Kenshin's Email:</strong> <a href="mailto:kenshin@satoshis-plebs.com">kenshin@satoshis-plebs.com</a><br>
        <strong>Kenshin's Twitter:</strong> <a href="https://twitter.com/kenshin_ninja ">@kenshin_ninja </a>
    </p>
    
    {{ if .Params.music_credits }}
    <h3>Music Credits</h3>
    {{ range .Params.music_credits }}
    <p><strong>{{ .title }}</strong><br>
    {{ if .link }}<a href="{{ .link }}">{{ .link }}</a>{{ end }}</p>
    {{ end }}
    {{ end }}
    
</div>
