{{ define "main" }}
<div class="container">
    <div class="hero">
        <h2>{{ .Title }}</h2>
        <p>{{ .Content }}</p>
    </div>
    
    <section class="recent-episodes">
        <h3>Recent Episodes</h3>
        {{ range first 2 (where .Site.RegularPages "Section" "episodes") }}
            <article>
                <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                <time>{{ .Date.Format "January 2, 2006" }}</time>
                <p>{{ .Params.description }}</p>
            </article>
        {{ end }}
    </section>
</div>
{{ end }}
