{{ define "main" }}
<div class="container">
    <div class="hero">
        <h2>{{ .Title }}</h2>
        <p>{{ .Content }}</p>
    </div>
    
    <!-- Latest Episode Player -->
    <section class="latest-episode">
        <h3>Latest Episode</h3>
        <div class="podhome-player-container">
            <div data-m="false" data-e="3d1d205b-b9f7-5253-b09d-df1c8ec4fc25" data-type="podhome_player"></div>
        </div>
    </section>
    
    <section class="recent-episodes">
        <h3>Recent Episodes</h3>
        {{ range first 2 (where .Site.RegularPages "Section" "episodes") }}
            <article>
                <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                <time>{{ .Date.Format "January 2, 2006" }}</time>
                <p>{{ .Params.description }}</p>
            </article>
        {{ end }}
    </section>
</div>

<!-- Include the Podhome script -->
<script src="https://cdn.podhome.fm/player.min.js"></script>
{{ end }}
